
/* ---------------------框架设置----------------------- */

html{height:100%;width:100%;}
body{display:flex;flex-direction:column;height:100%;width:100%;}
header{flex:0 0 auto;}
.g-content{flex: 1 0 auto;width:100%;background:whitesmoke;}
footer{flex: 0 0 auto;}
.g-footer-f{position: fixed;bottom:0; width:100%;min-height: 5rem;}
.footer-bg{height:5rem;filter:alpha(Opacity=50);-moz-Opacity:0.5;opacity:0.5;}


/* ---------------------具体的头部设置----------------------- */
body{
    font-family: Arial, "Times New Roman", "Microsoft YaHei", SimSun, SimHei;
    -webkit-font-smoothing: antialiased;
}
/*-----头部top设置-----*/

.header-dot-333 {
    margin-right: 8px;
    margin-left: 8px;
    color: #333;
    font-size: 15px;
}

.container:before{
    display: table;
    content: " ";
}
.container:after {
    clear: both;
}
.lh40{line-height:40px;}
#lownding a:hover{color:#20B176;text-decoration:none;}
#lownding a{color:#000;}

/*---------------------------------------------------------*/
/*-----头部导航设置-----*/
ul,li{margin:0;padding:0;}



.h-nav,.h-nav .navbar-default{
    text-align:center;
    background: #20B176;
}
.h-nav .navbar-default{

    border-style:none;
    box-shadow:none;
    margin-bottom: 0;
    /*!*margin-bottom:0;这个必须设置，才能让header的下方的多余空白去掉*!*/
}
#h-cell-1 li{height:97px;}
#h-cell-1 a{
    display:inline-block;
    position:relative;
    width:40px;
    height:97px;
    margin-left:32px;
    border-bottom:2px solid #20B176;
    font-size:17.8px;
    text-decoration: none;color:white;
}
#h-cell-1 a span{width:40px;}
@media only screen and (max-width: 700px) {
    #h-cell-1 li{height:auto;}
    #h-cell-1 a{height:20px;width:100%;margin:0;padding:0;overflow:hidden;}
    #h-cell-1 a span{height:auto;}
}


.navbar-header{position: relative;height:97px;}
.navbar-brand{
    padding:0;

    }
.navbar-header img{position:absolute;
    left:20px;}
.navbar-header button{position:absolute;
    margin:0;
    right:20px;}




#h-cell-1 a:hover{border-bottom:2px solid #fff;}




/*-----轮播图设置-----*/
.morohology-1{
    margin:-0.5rem;padding:0;
    color:#fff;
}
.morohology-2{
    color:#fff;font-size:2rem;
}
.morohology-2>strong>span{
    font-size:3.5rem;
}

.item img{
    width:100%;
    max-height:600px;
}
#carousel-example-generic{
    width:100%;
    margin:0 auto;
}


/* ---------------------具体的脚步设置----------------------- */
footer{
    background:#20B176;
}
.f-cess-1{padding-top:2rem;}
.f-cess-1 ul{margin:1rem 0;}
.f-cess-1 ul li{display:inline-block;
    margin:1rem 0;
}

.f-cess-1 ul li a{
    text-decoration: none;color:#fff;
    padding-right:0.5rem;
}
.f-cess-1 ul li:hover a{
    border-bottom:0.1rem solid #fff;
}
.f-cess-1 h5{
    font-size: 1.5rem;
    color:#fff;
}


#f-row-1{position: relative;}
.f-cess-3{
    position:absolute;
    bottom:2rem;
    right:15px;
    color:#fff;
}
.f-cess-3 h5{
    font-size: 1.5rem;
    color:#fff;
}



#f-row-2{
    min-height: 2rem;
    line-height: 2rem;
    border-top:0.1rem solid #fff;
}

#f-row-2 span{
    padding:0 0.2rem;
    font-size:1rem;
    color:#fff;
}
#f-row-2 span:nth-child(5){
    padding-right:0.5rem;
    border-right:0.1rem solid #fff;
}
















